*{
    margin: 0;
    padding: 2px;
}

.caja{
    height: auto;
    max-width: 400px;
    border: 5px solid black;
    margin: 20px auto;
}

p{
    border: 5px dashed green;
    background-color: aqua;
    padding: 10px;
    margin: 50px;
    text-align: center;
}