*{
    margin: 0;
    padding: 0;
}

.caja{
    height: auto;
    max-width: 400px;
    border: 5px solid black;
    margin: 20px auto;
}

p{
    border: 5px dashed green;
    background-color: aqua;
    padding: 10px;
    margin: 50px;
    text-align: center;
}

.contenedor{
    width: 400px;
    height: auto;
    margin: 20px auto;
    border: 3px solid purple;
    overflow: hidden;
    display: table;
    padding: 10px;
    background-color: cornsilk;
}

.caja2{
    height: 100px;
    width: 50px;
    background-color: aquamarine;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    box-sizing: content-box;
}

.caja3{
    height: 100px;
    width: 50%;
    background-color: aquamarine;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    box-sizing: border-box;
}
.numeros{
    background-color: brown;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

nav {
    margin: 40px;
    border: 1px dashed red;
    padding: 10px;
}

nav li{
    list-style: none;
    padding: 5px;
    border: 1px dashed black;
}

span{
    display: block;
    width: 50px;
}
