*{
    margin: 0;
    padding: 0;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 16px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    padding: 16px;
    background-color: deeppink;
}

nav ul li a:hover{
    background-color: blue;
}

#seccion1{
    background-color: aqua;
}

#seccion2{
    background-color: coral;
}

#seccion3{
    background-color: aquamarine;
}

h1{
    text-align: center;
    background-color: blueviolet;
    margin-bottom: 16px;
}

:root{
    background-color: teal;
    font-family: Helvetica;
}

:target{
    background-color: rgb(8, 8, 8) !important;
    color: white;
    padding: 40px;
}